/* style.css */

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.navigation {
  display: inline-flex;
  margin: 15px;
}

.hero {
  background-image: url(../images/california.jpg);
  background-size: cover;
  color: white;
  height: calc(100vh);
/* Hey future Emileigh: This is flex box. it lets you center things and is amazing!*/
  display: flex;
  align-items: center;
  flex-direction: column;
/* Emileigh: you would add this to the above to make "Mike Kern" centered on the screen:
  justify-content: space-between;*/
}

.block {
  background-image: url(../images/block.jpg);
  padding: 40px;
  text-align: center;
  margin-top: 50px;
}

.list {
  padding: 10px;

}

a {
  color: black;
  font-size: 40px;
  text-decoration: none;
  font-family: 'Stalemate', 'Helvetica';
}

h1 {
  font-size: 40px;
  font-weight: 400;
  font-family: 'Raleway', 'Helvetica';
  /*position: absolute;
   top: 100px;
   left: 0;
   width: 100%;*/
}


h2 {
  font-size: 50px;
  font-weight: 400;
  font-family: 'Stalemate', 'Helvetica';
  color: white;
}

.main-text {
  width: 100%;
  padding: 20px;
  height: 100px;
  text-align: justify;
  font-family: 'Raleway', 'Helvetica';
}

.wrapper {
  max-width: 1150px;
  margin: 0px auto;
  /*background-color: #e3f2f9;*/
}


input[type=text] {
  font-family: 'Raleway', 'Helvetica';
  padding: 5px;
  margin-top: 20px;
}

input[type=email] {
  font-family: 'Raleway', 'Helvetica';
  padding: 5px;
  margin-top: 20px;
}

.dropDown {
  margin-top: 20px;

}

.submissionField {
  width: 300px;
  height: 100px;
}

/*Media accessibility stylings*/


@media (max-width: 768px) {
    .wrapper {
        max-width: 768px;
        margin: 0px auto;
    }

    h1  {
       top: 10px;
       font-size: 30px;
    }

    h2  {
      top: 50px;
      font-size: 50px;
    }

  }
